<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">IIKO reporter AdminPanel</a>
</nav>

<script id="select-template" type="text/x-handlebars-template">
    {{#each categories}}
        <option value={{this}}>{{this}}</option>
    {{/each}}
</script>

<div>
    <h2>Ссылки для подразделений</h2>
        <table style = "border: 1px solid grey">
            <tr>
                <th style = "border: 1px solid grey;text-align:center;">Подразделение</th>
                <th style = "border: 1px solid grey;text-align:center;">Ссылка на таблицу</th>
            </tr>
            {{#each data}}
                <tr>
                    <td style = "border: 1px solid grey;text-align:center;">{{this.department}}</td>
                    <td style = "border: 1px solid grey;text-align:center;">
                        <a href={{this.link}}>{{this.link}}</a>
                    </td>
                </tr>
            {{/each}}
        </table>
</div>