<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">IIKO reporter AdminPanel</a>
</nav>

<div>
    <h2>Установите цели для подразделений</h2>
    <p>
        <a class="btn btn-primary" href="/main">На главную</a>
    </p>
    <form method="POST" action="/protected">
        <p>
            <button type="submit" class="btn btn-primary">Сохранить цели</button>
        </p>
        <table style = "border: 1px solid grey">
            <tr>
                <th style = "border: 1px solid grey;text-align:center;">№ п/п</th>
                <th style = "border: 1px solid grey;text-align:center;">Категория</th>
                <th style = "border: 1px solid grey;text-align:center;">Название</th>
                <th style = "border: 1px solid grey;text-align:center;">Цель 1</th>
                <th style = "border: 1px solid grey;text-align:center;">Цель 2</th>
            </tr>
            <tr>
                <td style = "border: 1px solid grey;text-align:center;">1.</td>
                <td style = "border: 1px solid grey;">
                    <select name="sel_1">
                        {{#each data.[0].categories_1}}
                            {{#if checked}}
                                <option value='{{name}}' selected="selected">{{name}}</option>
                            {{else}}
                                <option value='{{name}}'>{{name}}</option>
                            {{/if}}
                        {{/each}}
                    </select>
                </td>
                <td style="border: 1px solid grey;">
                    <input name="surname_1" value={{data.[0].surname_1}} >
                </td>
                <td style="border: 1px solid grey;">
                    <input name="target1_1" value={{data.[0].target1_1}}>
                </td>
                <td style="border: 1px solid grey;">
                    <input name="target2_1" value={{data.[0].target2_1}}>
                </td>
            </tr>
            <tr>
                <td style = "border: 1px solid grey;text-align:center;">2.</td>
                <td style = "border: 1px solid grey;">
                    <select name="sel_2">
                        {{#each data.[0].categories_2}}
                            {{#if checked}}
                                <option value='{{name}}' selected="selected">{{name}}</option>
                            {{else}}
                                <option value='{{name}}'>{{name}}</option>
                            {{/if}}
                        {{/each}}
                    </select>
                </td>
                <td style="border: 1px solid grey;">
                    <input name="surname_2" value={{data.[0].surname_2}} >
                </td>
                <td style="border: 1px solid grey;">
                    <input name="target1_2" value={{data.[0].target1_2}}>
                </td>
                <td style="border: 1px solid grey;">
                    <input name="target2_2" value={{data.[0].target2_2}}>
                </td>
            </tr>
            <tr>
                <td style = "border: 1px solid grey;text-align:center;">3.</td>
                <td style = "border: 1px solid grey;">
                    <select name="sel_3">
                        {{#each data.[0].categories_3}}
                            {{#if checked}}
                                <option value='{{name}}' selected="selected">{{name}}</option>
                            {{else}}
                                <option value='{{name}}'>{{name}}</option>
                            {{/if}}
                        {{/each}}
                    </select>
                </td>
                <td style="border: 1px solid grey;">
                    <input name="surname_3" value={{data.[0].surname_3}} >
                </td>
                <td style="border: 1px solid grey;">
                    <input name="target1_3" value={{data.[0].target1_3}}>
                </td>
                <td style="border: 1px solid grey;">
                    <input name="target2_3" value={{data.[0].target2_3}}>
                </td>
            </tr>
            <tr>
                <td style = "border: 1px solid grey;text-align:center;">4.</td>
                <td style = "border: 1px solid grey;">
                    <select name="sel_4">
                        {{#each data.[0].categories_4}}
                            {{#if checked}}
                                <option value='{{name}}' selected="selected">{{name}}</option>
                            {{else}}
                                <option value='{{name}}'>{{name}}</option>
                            {{/if}}
                        {{/each}}
                    </select>
                </td>
                <td style="border: 1px solid grey;">
                    <input name="surname_4" value={{data.[0].surname_4}} >
                </td>
                <td style="border: 1px solid grey;">
                    <input name="target1_4" value={{data.[0].target1_4}}>
                </td>
                <td style="border: 1px solid grey;">
                    <input name="target2_4" value={{data.[0].target2_4}}>
                </td>
            </tr>
            <tr>
                <td style = "border: 1px solid grey;text-align:center;">5.</td>
                <td style = "border: 1px solid grey;">
                    <select name="sel_5">
                        {{#each data.[0].categories_5}}
                            {{#if checked}}
                                <option value='{{name}}' selected="selected">{{name}}</option>
                            {{else}}
                                <option value='{{name}}'>{{name}}</option>
                            {{/if}}
                        {{/each}}
                    </select>
                </td>
                <td style="border: 1px solid grey;">
                    <input name="surname_5" value={{data.[0].surname_5}} >
                </td>
                <td style="border: 1px solid grey;">
                    <input name="target1_5" value={{data.[0].target1_5}}>
                </td>
                <td style="border: 1px solid grey;">
                    <input name="target2_5" value={{data.[0].target2_5}}>
                </td>
            </tr>
        </table>
    </form>
</div>