<div style="width: 1800px; margin:0 auto;  position: absolute; top: 0; left: 0;">
  <h2>Подразделение: {{ data.dep }}</h2>
  <h4>{{data.addon}}</h4>
  <table width=100% height=100% style = "border: 1px solid grey">
    <tr>
        <th rowspan="2" style = "border: 1px solid grey;text-align:center;background-color: antiquewhite;">{{data.header.up.[0]}}</th>
        <th rowspan="2" style = "border: 1px solid grey;text-align:center;background-color: antiquewhite;">{{data.header.up.[1]}}</th>
        <th style = "border: 1px solid grey;text-align:center;background-color: antiquewhite;">{{data.header.up.[2]}}</th>
        <th colspan="3" style = "border: 1px solid grey;text-align:center;background-color: antiquewhite;">{{data.header.up.[3]}}</th>
        <th colspan="3" style = "border: 1px solid grey;text-align:center;background-color: antiquewhite;">{{data.header.up.[4]}}</th>
        <th colspan="3" style = "border: 1px solid grey;text-align:center;background-color: antiquewhite;">{{data.header.up.[5]}}</th>
        <th colspan="3" style = "border: 1px solid grey;text-align:center;background-color: antiquewhite;">{{data.header.up.[6]}}</th>
        <th colspan="3" style = "border: 1px solid grey;text-align:center;background-color: antiquewhite;">{{data.header.up.[7]}}</th>
        <th colspan="4" style = "border: 1px solid grey;text-align:center;background-color: antiquewhite;">{{data.header.up.[8]}}</th>
    </tr> <!--ряд с ячейками заголовков-->
    <tr>
        <th style = "background-color: antiquewhite;border: 1px solid grey;text-align:center;">{{data.header.down.[0]}}</th>
        <th style = "border: 1px solid grey;text-align:center;background-color: antiquewhite;">{{data.header.down.[1]}}</th>
        <th style = "border: 1px solid grey;text-align:center;background-color: antiquewhite;">{{data.header.down.[2]}}</th>
        <th style = "border: 1px solid grey;text-align:center;background-color: antiquewhite;">{{data.header.down.[3]}}</th>
        <th style = "border: 1px solid grey;text-align:center;background-color: antiquewhite;">{{data.header.down.[1]}}</th>
        <th style = "border: 1px solid grey;text-align:center;background-color: antiquewhite;">{{data.header.down.[2]}}</th>
        <th style = "border: 1px solid grey;text-align:center;background-color: antiquewhite;">{{data.header.down.[3]}}</th>
        <th style = "border: 1px solid grey;text-align:center;background-color: antiquewhite;">{{data.header.down.[1]}}</th>
        <th style = "border: 1px solid grey;text-align:center;background-color: antiquewhite;">{{data.header.down.[2]}}</th>
        <th style = "border: 1px solid grey;text-align:center;background-color: antiquewhite;">{{data.header.down.[3]}}</th>
        <th style = "border: 1px solid grey;text-align:center;background-color: antiquewhite;">{{data.header.down.[1]}}</th>
        <th style = "border: 1px solid grey;text-align:center;background-color: antiquewhite;">{{data.header.down.[2]}}</th>
        <th style = "border: 1px solid grey;text-align:center;background-color: antiquewhite;">{{data.header.down.[3]}}</th>
        <th style = "border: 1px solid grey;text-align:center;background-color: antiquewhite;">{{data.header.down.[1]}}</th>
        <th style = "border: 1px solid grey;text-align:center;background-color: antiquewhite;">{{data.header.down.[2]}}</th>
        <th style = "border: 1px solid grey;text-align:center;background-color: antiquewhite;">{{data.header.down.[3]}}</th>
        <th style = "border: 1px solid grey;text-align:center;background-color: antiquewhite;">{{data.header.down.[4]}}</th>
        <th style = "border: 1px solid grey;text-align:center;background-color: antiquewhite;">{{data.header.down.[5]}}</th>
        <th style = "border: 1px solid grey;text-align:center;background-color: antiquewhite;">{{data.header.down.[6]}}</th>
        <th style = "border: 1px solid grey;text-align:center;background-color: antiquewhite;">{{data.header.down.[7]}}</th>
    </tr> <!--ряд с ячейками заголовков-->
    {{#each data.body}}
      {{#if this.[19]}}
          <tr>
            <td rowspan="2" style = "border: 1px solid grey;text-align:left;">{{this.[0]}}</td>
            <td rowspan="2" style = "border: 1px solid grey;text-align:left;background-color: darkseagreen;">{{this.[1]}}</td>
            <td rowspan="2" style = "border: 1px solid grey;text-align:center;background-color: darkseagreen;">{{this.[2]}}</td>
            <td style = "border: 1px solid grey;text-align:center;">{{this.[3]}}</td>
            <td rowspan="2" style = "border: 1px solid grey;text-align:center;background-color: darkseagreen;">{{this.[4]}}</td>
            <td rowspan="2" style = "border: 1px solid grey;text-align:center;">{{this.[5]}}</td>
            <td style = "border: 1px solid grey;text-align:center;">{{this.[6]}}</td>
            <td rowspan="2" style = "border: 1px solid grey;text-align:center;background-color: darkseagreen;">{{this.[7]}}</td>
            <td rowspan="2" style = "border: 1px solid grey;text-align:center;">{{this.[8]}}</td>
            <td style = "border: 1px solid grey;text-align:center;">{{this.[9]}}</td>
            <td rowspan="2" style = "border: 1px solid grey;text-align:center;background-color: darkseagreen;">{{this.[10]}}</td>
            <td rowspan="2" style = "border: 1px solid grey;text-align:center;">{{this.[11]}}</td>
            <td style = "border: 1px solid grey;text-align:center;">{{this.[12]}}</td>
            <td rowspan="2" style = "border: 1px solid grey;text-align:center;background-color: darkseagreen;">{{this.[13]}}</td>
            <td rowspan="2" style = "border: 1px solid grey;text-align:center;">{{this.[14]}}</td>
            <td style = "border: 1px solid grey;text-align:center;">{{this.[15]}}</td>
            <td rowspan="2" style = "border: 1px solid grey;text-align:center;background-color: darkseagreen;">{{this.[16]}}</td>
            <td rowspan="2" style = "border: 1px solid grey;text-align:center;">{{this.[17]}}</td>
            <td style = "border: 1px solid grey;text-align:center;">{{this.[18]}}</td>
            <td style = "border: 1px solid grey;text-align:center;background-color: darkgrey;"></td>
            <td rowspan="2" style = "border: 1px solid grey;text-align:center;">{{this.[20]}}</td>
            <td style='{{this.[23]}}'>{{this.[21]}}</td>
          </tr>
      {{else}}
          <tr>
            <td style = "border: 1px solid grey;text-align:center;">{{this.[3]}}</td>
            <td style = "border: 1px solid grey;text-align:center;">{{this.[6]}}</td>
            <td style = "border: 1px solid grey;text-align:center;">{{this.[9]}}</td>
            <td style = "border: 1px solid grey;text-align:center;">{{this.[12]}}</td>
            <td style = "border: 1px solid grey;text-align:center;">{{this.[15]}}</td>
            <td style = "border: 1px solid grey;text-align:center;background-color: darkgrey;"></td>
            <td style = "border: 1px solid grey;text-align:center;">{{this.[19]}}</td>
            <td style='{{this.[23]}}'>{{this.[21]}}</td>
          </tr>
      {{/if}}
    {{/each}}
  </table>
</div>